@page
@model WellnessSite.Pages.Services.IndexModel

@{
    ViewData["Title"] = "Index";
    ViewData["Prefs"] = Model.p.ToString();
}
<div class="row">
    <div class="col-md-2 col-1"></div>
    <div class="col-md-8 col-10">
        <h1>A-Z Services</h1>
        <form>
            <label asp-for="qry">Search</label>
            <input asp-for="qry" />
            <input type="submit" asp-route-qry="@Model.qry" value="Search" class="btn btn-success">
        </form>
    </div>
    <div class="col-md-2 col-1"></div>
</div>


<div class="hexbox">
    @{
        int i = 0;
        @foreach (var item in Model.Service)
        {
            <a asp-page="./Service" asp-route-id="@item.Id">
                <div class="hex xs-@(i%2) sm-@(i%3) md-@(i%5) lg-@(i%7) xl-@(i%9)">
                    <div class="small">
                        <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                    </div>
                </div>
            </a>
            i++;
        }
    }
</div>

<script>
    function changeHexMediaQueries(size) {
        document.styleSheets[3].cssRules[0].media.mediaText = '(max-width: ' + (size * 2) + 'px)';
        document.styleSheets[3].cssRules[1].media.mediaText = '(min-width: ' + (size * 2) + 'px) and (max-width: ' + (size * 3) + 'px)';
        document.styleSheets[3].cssRules[2].media.mediaText = '(min-width: ' + (size * 3) + 'px) and (max-width: ' + (size * 4) + 'px)';
        document.styleSheets[3].cssRules[3].media.mediaText = '(min-width: ' + (size * 4) + 'px) and (max-width: ' + (size * 5) + 'px)';
        document.styleSheets[3].cssRules[4].media.mediaText = '(min-width: ' + (size * 5) + 'px)';
    }
    changeHexMediaQueries(@(Math.Ceiling(Model.p.TextSize * 15 * 1.1547)))
</script>

@section Styles{

    <link rel="stylesheet" href="~/css/hex.css" asp-append-version="true" />
}