@page
@model WellnessSite.Pages.Contact.ConfirmModel
@{
    ViewData["Title"] = "Contact Confirmation";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>Email sent!</h1>
<p>Message says: @Model.Message</p>
<a asp-page="/Index" class="btn">Return to Homepage</a>

@section Styles{
    <style>
        body {
            background-image: url("/img/contact-bg.jpeg");
        }
    </style>
}