@page
@model WellnessSite.Pages.Contact.IndexModel
@{
    ViewData["Title"] = "Contact";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>Contact</h1>
<p>Please use the contact form below to get in touch</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>

	<div class="form-group">
		<label asp-for="Name" class="control-label"></label>
		<input asp-for="Name" class="form-control" placeholder="Your name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        @if (Model.sim.IsSignedIn(User))
        {
            <input asp-for="Email" class="form-control" value="@Model.email" />
        }
        else
        {
            <input asp-for="Email" class="form-control" placeholder="Your email" />
        }
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Subject" class="control-label"></label>
        <input asp-for="Subject" class="form-control" placeholder="Subject" />
        <span asp-validation-for="Subject" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Message" class="control-label"></label>
        <textarea asp-for="Message" class="form-control" placeholder="Your message"> </textarea>
        <span asp-validation-for="Message" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn" />
    </div>
</form>

@section Styles{
    <style>
        body{
            background-image: url("/img/contact-bg.jpeg");
        }
    </style>
}