@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>About Us</h1>
<p>Back in 2021 we realised that there was a gap in the market for a new way to display a directories and services list for the Isle of Man. All of us who work in healthcare knew that there was a problem, and that we needed a better solution, but we just couldn’t figure out how to do it. After much research we came across a website solution we wanted to reference: www.treacle.me. This website acts as a one-stop shop for everything you need to know about local support and services available in England. Now we had an idea of where we wanted to go, we needed to find a team to help us make our dream a reality.</p>

<h2>University College IOM</h2>

<p>We contacted the BSc Computer Science course leader at UCM and asked if they currently had any enthusiastic, charismatic students that would be willing to take on the project as part of their degree. We were very lucky when 5 students, from both computer science and cybersecurity put their names forward to help us develop our dream solution as part of their Experiential Learning module. We are truly grateful to them for their help, and we wish them well with the remainder of their degree. To point them in the right direction we gave them a contact for Sight Matters, as they wanted to help with the accessibility features for the website.</p> 

<h2>Sight Matters</h2>

<p>Sight Matters are in independent charity, and the operational trading name for the Manx Blind Welfare Society, comprised of a small team of staff who are supported by over 200 volunteers. The charity offers a wide range of services including a talking book library, a recording studio producing a weekly audio news service, computer training, a specialist equipment room and resource centre, weekly social events for users of the service, and both home and hospital visits to those who need extra support. We are grateful for their support in helping the students with making the website accessible for everyone, and we are excited to see where our partnership may lead in the future.</p>


@section Styles{
    <style>
        body{
            background-image: url("/img/about-bg.jpg");
        }
    </style>
}