@page
@model AboutModel
@{
    ViewData["Title"] = "About";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>About</h1>


@section Styles{
    <style>
        body{
            background-image: url("/img/contact-bg.jpeg");
        }
    </style>
}