@page
@model CookiePolicyModel
@{
    ViewData["Title"] = "Cookie Policy";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

<h1>@ViewData["Title"]</h1>
<p>Last Updated: 19/05/2023 </p>
<p>This cookie policy explains how Community Care Hub (“CCH” or “our”) uses cookies to ensure security, provide functionality, 
    and track how people interact with our website at <a asp-page="Index">https://2126697.win.studentwebserver.co.uk/</a> </p>
<p>This cookie policy works in conjunction with our Privacy Policy, available <a asp-page="Privacy">here.</a> </p>
<br />

<h2>What are Cookies?</h2>
<p>
    Cookies are text files that are placed on your computer or handheld device (such as smartphones and tablets) when you visit certain pages on the Internet.
    They are used to remember when your computer or device accesses a website. Cookies are stored in your browser and help the website to recognise your device
    the next time you visit. Most cookies will not collect information that directly identifies you as a person, and will instead collect more general information, such 
    as how visitors arrive at our website. Cookies may, however, be used to create a profile of the visitor’s activities on the Internet which, for example,
    can be used to try and predict your purchasing and behavioral preferences.
</p>
<br />

<h2>Types of Cookies</h2>

<h3>Temporary Cookies</h3>

<p>
    Session cookies are stored only temporarily during a browsing session and are deleted from the user’s device when the browser is closed.
</p>

<h3>Persistent Cookies</h3>

<p>
    Persistent cookies used on our website generally have a maximum lifespan of thirty (30) days; please see “Cookie Declaration” section below.
</p>

<h3>First Party Cookies</h3>

<p>
    First party cookies are set by the website you are visiting, and they can only be read by that site.
</p>

<h2>Cookie Categories</h2>

<h3>Necessary Cookies</h3>

<p>
    Necessary cookies are required for the operation of our website, such as to ensure security. 
    For example, certain cookies enable you to log into secure areas of the CCH website. These cookies do 
    not require your consent and cannot be switched off. You can set your browser to block or alert you 
    about these cookies, but some parts of our website may not work if you block these types of cookies.
</p>

<h3>Functional Cookies</h3>

<p>
    Functional cookies are used to provide certain functionalities to you by recognising you when you 
    return to the CCH website so that we can offer you a better experience on this website. For instance, 
    these cookies help us to personalise our content for you, greet you by name, and remember your preferences 
    (for example, your choice of colours and fonts, or to set a cookie to store your preferences regarding 
    the cookies on our website).
</p>

<h3>Analytics Cookies</h3>

<p>
    Analytics cookies allow us to analyse CCH website usage and understand how visitors use it. These 
    cookies recognise and collect information about the number of visitors, the pages they view, how long 
    they view pages for, and how they move around the website while using it. This helps us improve the way
    our website works, for example, by ensuring that visitors are easily finding what they are looking for. 
    If you do not consent to these types of cookies, we are unable to improve the CCH website based on 
    information from your visit.
</p>
<br />

<h2>Cookie Declaration</h2>

<p>
    CCH uses different categories of both session and persistent cookies on our website, which can be 
    either necessary or functional.
</p>
<div class="container-fluid">
    <table class="table-bordered Cookie-Table-0">
        <!-- Table for .AspNetCore.Antiforgery.UnnjnuyROj4 -->
        <tbody class="Cookie-Table-Text">
            <tr>
                <td><b>Name: </b>.AspNetCore.Antiforgery.UnnjnuyROj4</td>
            </tr>
            <tr>
                <td><b>Provider: </b>ASP.NET</td>

            </tr>
            <tr>
                <td><b>Purpose: </b>Automatic cookie applied for preventing cross-site request forgery (XSRF/CSRF) attacks.</td>

            </tr>
            <tr>
                <td><b>Expiry: </b>On logging out or closing browser (whatever comes first).</td>

            </tr>
            <tr>
                <td><b>Type:</b> Temporary, Necessary</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-bordered Cookie-Table-1">
        <!-- Table for .AspNetCore.Identity.Application -->
        <tbody>
            <tr>
                <td><b>Name: </b>.AspNetCore.Identity.Application</td>
            </tr>
            <tr>
                <td><b>Provider: </b>ASP.NET</td>

            </tr>
            <tr>
                <td><b>Purpose: </b>Automatic cookie applied for keeping users logged in whilst in a single session.</td>

            </tr>
            <tr>
                <td><b>Expiry: </b>On logging out or closing browser (whatever occurs first)</td>

            </tr>
            <tr>
                <td><b>Type:</b> Temporary, Functional</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-bordered Cookie-Table-0">
        <!-- Table for .colourSchemeCookie -->
        <tbody>
            <tr>
                <td><b>Name: </b>.colourSchemeCookie</td>
            </tr>
            <tr>
                <td><b>Provider: </b>Community Care Hub</td>

            </tr>
            <tr>
                <td><b>Purpose: </b>Implemented to handle accessibility changes to the website, regarding overall website colour schemes.</td>

            </tr>
            <tr>
                <td><b>Expiry: </b>30 Days</td>

            </tr>
            <tr>
                <td><b>Type:</b> Persistent, Necessary</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-bordered Cookie-Table-1">
        <!-- Table for .cookieAcceptanceStatusCookie  -->
        <tbody>
            <tr>
                <td><b>Name: </b>.cookieAcceptanceStatusCookie</td>
            </tr>
            <tr>
                <td><b>Provider: </b>Community Care Hub</td>

            </tr>
            <tr>
                <td><b>Purpose: </b>Implemented to store the status from users on whether they have accepted or declined nonessential cookies.</td>

            </tr>
            <tr>
                <td><b>Expiry: </b>30 Days</td>

            </tr>
            <tr>
                <td><b>Type:</b> Persistent, Functional</td>
            </tr>
        </tbody>
    </table>
    <br />
    <table class="table-bordered Cookie-Table-0">
        <!-- Table for .guestTextSizeCookie  -->
        <tbody>
            <tr>
                <td><b>Name: </b>.guestTextSizeCookie</td>
            </tr>
            <tr>
                <td><b>Provider: </b>Community Care Hub</td>

            </tr>
            <tr>
                <td><b>Purpose: </b>Implemented to handle text sizes along with hexagon sizes for any guest users.</td>

            </tr>
            <tr>
                <td><b>Expiry: </b>30 Days</td>

            </tr>
            <tr>
                <td><b>Type:</b> Persistent, Functional</td>
            </tr>
        </tbody>
    </table>
</div>
<br />

<h2>Managing Cookies and Withdrawing Consent</h2>

<p>
    We will obtain your opt-in consent to the use of cookies when you first access the CCH website, and 
    on the introduction of any new cookies, unless they are necessary cookies in which your consent is not 
    required. When you visit our website and go to the ‘Accessibility’ a popup is displayed asking you to 
    “Accept Cookies” or “Decline Nonessential Cookies” and notifies you that you must accept cookies to 
    enable the accessibility features. You can then accept all cookies, or you may refuse cookies (except 
    those that are necessary).
</p>
<p>
    If you reject cookies, we will not set those cookies on your device, except necessary cookies, and set 
    a cookie to remember that you do not want any nonessential cookies to set when you visit the website.
</p>
<p>
    If you have accepted cookies but later decide you want to reject them (withdraw your consent) for the future, 
    you can update your preferences related to the cookies operating on our website by clicking the button on the 
    ‘Accessibility’ page.
</p>
<p>
    You can also disable cookies by changing your browser settings to reject cookies. How to do this depends 
    on the browser you are using. All modern browsers allow you to change your cookie settings that will 
    typically be found in the ‘options’ or ‘preferences’ menu of your browser. Use the ‘Help’ option in your 
    browser for more details.
</p>
<ul>
    <li><a href="https://support.microsoft.com/en-us/microsoft-edge/delete-cookies-in-microsoft-edge-63947406-40ac-c3b8-57b9-2a946a29ae09">Cookie settings in Internet Explorer or Microsoft Edge</a></li>
    <li><a href="https://support.mozilla.org/en-US/kb/cookies-information-websites-store-on-your-computer?redirectlocale=en-US&redirectslug=Cookies">Cookie settings in Firefox</a></li>
    <li><a href="https://support.google.com/chrome/answer/95647?hl=en">Cookie settings in Chrome</a></li>
    <li><a href="https://support.apple.com/en-za/guide/safari/sfri11471/mac">Cookie settings in Safari Web</a></li>
</ul>
<p>
    It is the responsibility of the user to change your settings in each browser and for each of your devices.
</p>
<p>
    Blocking all cookies will have a negative impact on the usability of many websites, including the CCH website. 
    If you block all cookies, you may not be able to use all the features on our website. You can also delete 
    cookies already stored on your computer. However, deleting cookies may have a negative impact on the usability 
    of many websites, including ours.
</p>
<br />

<h2>Changes to this Policy</h2>
<p>
    Community Care Hub reserve the right to modify this Cookie Policy from time to time. If we make any changes to 
    this policy, we will change the “Last Update: “ date above, post the updated cookie policy on this page, and 
    ask you to re-consent to our changed use of cookies.
</p>
<br />

<h2>Contact Information</h2>
<p>
    Community Care Hub welcomes your questions or comments regarding this Cookie Policy. If you believe that CCH 
    has not adhered to this statement, please contact us at:
</p>
<p>CommunityCareHubIOM@gmail.com </p>

@section Styles
{
    <style>
        body {
                background-image: url("~/img/login-bg.jpeg");
             }
    </style>
}
