@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


@section Styles{
    <style>
        body {
            background-image: url("/img/contact-bg.jpeg");
        }
    </style>
}