@page
@model WellnessSite.Pages.auth.IndexModel
@{
    ViewData["Title"] = "Login/Register";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}


<h1>Login/Register</h1>
<!-- enter email to form, code then decides whether user is to login or register depending if exists in database or not -->
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Continue" class="btn btn-info" />
    </div>
</form>


@section Styles{
    <style>
        body {
            background-image: url("img/login-bg.jpg");
        }
    </style>
}