@page
@model WellnessSite.Pages.auth.ProfileModel
@{
    ViewData["Title"] = "Profile";
    ViewData["Prefs"] = Model.p.ToString();
    ViewData["Layout"] = "Img";
}

@if(Model.name != null && Model.name.Trim() != "")
{
    <h1>Welcome back, @Model.name</h1>
}
else
{
    <h1>Your profile</h1>
}
<hr />
<div class="row">
    <form method="post">
    <div class="col col-12 col-md-6">
        @if(Model.bookmarks.Count() < 1)
        {
            <h3>Any services you bookmark will appear here</h3>
        }
        else
        {
            <h3>Bookmarks</h3>
            @foreach(Models.Bookmarks bm in Model.bookmarks)
            {
                <p><a asp-page="../Services/Service" asp-route-id="@bm.ServiceID">@Model.Services.FirstOrDefault(s => s.Id == bm.ServiceID).Name</a></p>
            }
        }
        <br />
        <hr />
        <h3>Change Password</h3>
        <div class="form-group">
            <label asp-for="CurrentPassword" class="control-label"></label>
            <input asp-for="CurrentPassword" class="form-control" />
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="control-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <input type="submit" value="Change" class="btn btn-danger" />
    </div>
    <div class="col col-12 col-md-6">

    </div>
    </form>
</div>



<!-- Change password functionality -->


@section Styles{
    <style>
        body {
            background-image: url("/img/login-bg.jpg");
        }
    </style>
}