@page
@model WellnessSite.Pages.Admin.AdminRequestsModel
@{
    ViewData["Title"] = "Admin Requests List";
    ViewData["Prefs"] = Model.p.ToString();
}
<div>
    <br />
    <a asp-page="./Index" class="btn btn-info">Back</a>
    <br />
</div>
<h1>Users Requesting Organisation Admin Rights</h1>
@if(Model.users.Count() > 0){
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var u in Model.users)
        {
            <tr>
                <td class="width-40">
                    @u.UserName
                </td>
                <td class="width-40">
                    @u.Email
                </td>
                <td class="width-20">
                    <form method="post">
                        <button asp-page-handler="ProcessAdminRequest" asp-route-uid="@u.Id" asp-route-accept="true" class="btn btn-success">Accept</button> | <button asp-route-handler="ProcessAdminRequest" asp-route-uid="@u.Id" asp-route-accept="false" class="btn btn-danger">Decline</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
}
else{
    <h2>No awaiting users</h2>
}
