@page
@model WellnessSite.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Hub";
    ViewData["Prefs"] = Model.p.ToString();
}

@if (await Model.um.IsInRoleAsync(await Model.um.GetUserAsync(User), "Admin"))
{
    <h1>Admin Settings</h1>
    <p>
        <a asp-page="Services/Index" class="btn btn-info">Edit all Services</a>
    </p>
    <p>
        <a asp-page="AdminRequests" class="btn btn-info">View Admin Requests</a>
    </p>
    <p>
        <a asp-page="PageRequests" class="btn btn-info">View Page Requests</a>
    </p>
}

@if (await Model.um.IsInRoleAsync(await Model.um.GetUserAsync(User), "OrgAdmin"))
{
    <h1>Organisation Admin Settings</h1>
    <a asp-page="Services/Index">Edit your Services</a>
}