@media (max-width:693px) {
    .hexbox .hex .xs-0 {
        background-color:var(--hex1);
        display: float;
    }

        .hexbox .hex .xs-0:hover {
            background-color: var(--hexHover);
            color:var(--hexColour);
        }

    .hexbox .xs-1 {
        background-color: var(--hex2);
    }

        .hexbox .xs-1:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox {
        max-width: calc(calc(var(--textSize)*var(--multiply))*var(--s2))
    }
}

@media (min-width: 693px) and (max-width:1040px) {
    .hexbox .sm-0, .hexbox .sm-1 {
        background-color: var(--hex1);
    }

        .hexbox .sm-0:hover, .hexbox .sm-1:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox .sm-2 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        background-color: var(--hex2);
    }

        .hexbox .sm-2:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox {
        max-width: calc(calc(var(--textSize)*var(--multiply))*2*var(--s2))
    }
}

@media (min-width:1040px) and (max-width:1386px) {
    .hexbox .md-0, .hexbox .md-1, .hexbox .md-2 {
        background-color: var(--hex1);
    }

        .hexbox .md-0:hover, .hexbox .md-1:hover, .hexbox .md-2:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox .md-3 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2)/-1);
        background-color: var(--hex2)
    }

    .hexbox .md-4 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2);
        background-color: var(--hex2)
    }

        .hexbox .md-3:hover, .hexbox .md-4:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox {
        max-width: calc(calc(var(--textSize)*var(--multiply))*3*var(--s2))
    }
}

@media (min-width:1386px) and (max-width:1733px) {
    .hexbox .lg-0, .hexbox .lg-1, .hexbox .lg-2, .hexbox .lg-3 {
        background-color: var(--hex1);
    }

        .hexbox .lg-0:hover, .hexbox .lg-1:hover, .hexbox .lg-2:hover, .hexbox .lg-3:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox .lg-4, .hexbox .lg-5 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2)/-1);
        background-color: var(--hex2);
    }

    .hexbox .lg-6 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2);
        background-color: var(--hex2);
    }

        .hexbox .lg-4:hover, .hexbox .lg-5:hover, .hexbox .lg-6:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox {
        max-width: calc(calc(var(--textSize)*var(--multiply))*4*var(--s2))
    }
}

@media (min-width:1733px) {
    .hexbox .xl-0, .hexbox .xl-1, .hexbox .xl-2, .hexbox .xl-3, .hexbox .xl-4 {
        background-color: var(--hex1);
    }

        .hexbox .xl-0:hover, .hexbox .xl-1:hover, .hexbox .xl-2:hover, .hexbox .xl-3:hover, .hexbox .xl-4:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox .xl-5, .hexbox .xl-6, .hexbox .xl-7 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2)/-1);
        background-color: var(--hex2)
    }

    .hexbox .xl-8 {
        margin-left: calc(calc(var(--textSize)*var(--multiply))/2*var(--s2));
        margin-right: calc(calc(var(--textSize)*var(--multiply))/2);
        background-color: var(--hex2)
    }

        .hexbox .xl-5:hover, .hexbox .xl-6:hover, .hexbox .xl-7:hover, .hexbox .xl-8:hover {
            background-color: var(--hexHover);
            color: var(--hexColour);
        }

    .hexbox {
        max-width: calc(calc(var(--textSize)*var(--multiply))*5*var(--s2))
    }
}

:root{
    --s:300px;
    --s2:1.1547;
    --multiply: 20;
}

.hexbox {
    font-size: 0pt;
    padding-top: 50px;
    width: 100%;
    margin-right: 0;
    padding-bottom: calc(calc(var(--textSize)*var(--multiply))/2);
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    overflow-wrap: break-word;
}

.hexbox .hex {
    height: calc(var(--textSize)*var(--multiply));
    width: calc(calc(var(--textSize)*var(--multiply)) * var(--s2));
    margin-top: 0px;
    margin-bottom: calc(calc(var(--textSize)*var(--multiply))*-0.5);
    display: inline-block;
    float: left;
    font-size: 0pt;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    text-align: center;
    border-bottom: solid white 1px;
    padding: calc(calc(var(--textSize)*var(--multiply))/25);
    position: relative;
}

.hexbox .hex:hover {
    /*transform: translateY(-50px);*/
    z-index: 1;
}

.slider {
    margin: 20px;
}

.hexbox .hex .small {
    width: calc(calc(var(--textSize)*var(--multiply))/1.6);
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*background-color:green;*/
    display: block;
    font-size: var(--textSize);
    hyphens: auto;
}

.hexbox a {
    color: var(--hexColour);
}

.bodycontainer {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100vw;
    padding: 0px;
}

.row{
    width:100%;
}